 {% extends 'base.html' %}

{% block title %} Beacons | AirPass Tracking System {% endblock %}
<head>

</head>
{% block content %}

    <!-- main-heading -->
            <h2 class="main-title-w3layouts mb-2 text-center">Contact Us</h2>
            <!--// main-heading -->

            <div class="padding-md">
              <ol class="breadcrumb">

                <li><a href="/apts_main/">Dashboard</a> </li>
                <li> <strong><span></span></strong><a href="{{ BASE_URL }}"><strong>Contact Us</strong></a></li>
              </ol>
                    <div style="margin-bottom: 1em;" class=" text-center">
                        <br><br>
                        <h3>Our Team</h3>
                        <div class="text-left">

                            <br><p>
                                -> Inderjeet P. Saluja <br> -> Radhika J. Karwa <br> -> Nidhi Mishra
                             <br><br><strong>Roles & Responsibility</strong>: <br><br>
                            -> <strong>Django BackEnd Development</strong> : Inderjeet P. Saluja <br> -> <strong>Django FrontEnd Development</strong> : Radhika J. Karwa <br> -> <strong>Content Development</strong> : Nidhi Mishra
                            <br><br><strong>Contact Us At</strong>: +91- 9967557624 (India) <br><br> <strong>Mail Us At</strong>: <a href="mailto:inderjeet.saluja97@gmail.com">inderjeet.saluja97@gmail.com</a>
                            </p>

                        </div>
            <div class="container-fluid">
                <div class="row">

                </div>
            </div>
                    </div>
            </div>

{% endblock %}