{% extends 'base.html' %}

{% block title %} Updating Beacon | AirPass Tracking System {% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
{% block content %}

    <!-- main-heading -->
            <h3 class="main-title-w3layouts mb-2 text-left">Updating Beacon</h3>
            <!--// main-heading -->

            <div class="padding-md">
              <ol class="breadcrumb">

                <li><a href="/apts_main/">Dashboard</a> </li>
                <li><span></span><a href="/apts_main/beacon">Beacon Dashboard</a></li>
                <li> <strong><span></span></strong><a href="{{ BASE_URL }}"><strong>Update Existing Beacon Data</strong></a></li>
              </ol>
                    <div class="wrapper wrapper-content animated fadeIn">

      <div class=" text-center">
          <div class="col-xl-12">

              <div class="">
                  <form id="tracker_form" class="no-margin wizard-big wizard clearfix" method="post"
                        action="{% url 'update_beacon' id=object.id %}">
                                {% csrf_token %}
                                <h1>Updating Beacon with Id: {{ object.id }}</h1><br><p>The existing data of the beacon are as follows: </p><br>

                              <div style="width:100%;" class="text-center">
                                  <div class="col-md-12 ">
                                      <label>Beacon Name &nbsp;</label>
                                      <input type="text" name="b_name" class="btn text-success" value="{{ object.b_name }}"/><br><br>
                                      <label>Beacon MAC &nbsp;&nbsp;&nbsp;</label>
                                      <input type="text" name="mac_add" class="btn text-success" value="{{ object.mac_add }}"/><br><br>
                                      <P class="text-danger -bold">Warning : This action can't be undone !</P><br>
                                      <input type="submit" class="btn btn-danger" value="Update"/>
                                  </div>
                              </div>
                  </form>
              <!-- /panel -->
      </div>
                      </div>

              </div>
          </div>
            </div>

{% endblock %}
</body>
</html>